{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css' %}">
</head>
<body>
	<div class="row ">
		<div class="col-1 bg-dark" ></div>
		<div class="col-7 p-4  text-light bg-dark" >
			<div class="row">
				<div class="col-4">
					<div class="row">
						<div class="col-3"><img  src={%static "images/c4.jpg" %} width="80px"></div>
						
						<div class="col-9"><h1 class=" mb-4 mt-3" style="font-family:charlesworth;font-weight: bold;">Text Tools</h1></div>
					</div>
					
					
					<p class="pt-4" style="color:#F5F5F5;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<i class="icofont-location-pin"></i><span style="font-family: sans-serif;"> Edmonton,Alberta</span><br><br>
					<i class="icofont-phone"></i><span style="font-family: sans-serif;"> +1(219)456-6755</span><br><br>
					<i class="icofont-ui-message"></i><span style="font-family: sans-serif;"> info@gmail.com</span><br>
				</div>

				<div class="col-4">
					<h3 class="mb-3 mt-3 p-2" style="font-family:sans-serif;">Useful Links</h3>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>

				</div>
				<div class="col-4">
					<h3 class="mb-3 mt-3 p-2" style="font-family: sans-serif;">Services</h3>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a><br><br>
					<a href="" class="p-3" style="font-family: sans-serif;text-decoration:none;color:#F5F5F5;"><i class="icofont-double-right"></i>lorem ipsum</a>
				</div>
			</div>
		</div>	
		<div class="col-4 p-5" style="background-color:#36454f ;color:white;">
			<h2 class="mb-2 " style="font-family: charlesworth;font-weight:bold;">Subscribe to Our Newsletter</h2><br>
			<p style="color: #F5F5F5;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor.</p>
			<form>
				<input type="email" name="" placeholder="Enter your e-mail" class="form-control p-3"><br>
			</form>
				<i class="icofont-facebook border p-2 rounded-circle "></i>&nbsp;&nbsp;
				<i class="icofont-twitter border p-2 rounded-circle "></i>&nbsp;&nbsp;
				<i class="icofont-instagram border p-2 rounded-circle "></i>&nbsp;&nbsp;
				<i class="icofont-youtube border p-2 rounded-circle "></i>&nbsp;&nbsp;
			
		</div>
		
	</div>
	
	<div class="row">
				<div class="col-1" style="background-color:#36454f ;color: white; "></div>
				<div class="col-7" style="background-color:#36454f ;color: white; ">
					<p class="p-2">Copyright &copy; 2024 Healthify,All Rights Reserved</p>
				</div>
				<div class="col-4 bg-dark p-2" style="text-align: center;">
					<a href="" style="text-decoration:none;color:#F5F5F5;">Home</a><span style="font-weight: bold;color: white;"> | </span><a href="" style="text-decoration:none;color:#F5F5F5;">About Us</a><span style="font-weight: bold;color: white;"> | </span><a href="" style="text-decoration:none;color:#F5F5F5;">Contact Us</a>
				</div>
				
			</div>
		</div>
{% endblock %}
</body>
</html>