{% extends 'sidebar.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container" style="max-width: 600px;margin: 100px auto;padding:50px;
    background-color:#fff ;border-radius: 0px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);">

    <img src="{%static 'images/help.jpg' %}" style="display: block;margin-left: auto; margin-right: auto; " width="200px;">
	<h2 style=" text-align: center;color: #333; font-family: Charlesworth;">Help & Support
	</h2>
	<form method="POST" action="" style="display: flex;flex-direction: column;">{% csrf_token %}
		{% csrf_token %}
		<label style="margin-top: 10px;color: #333;font-family: Charlesworth;font-size:18px; ">Heading
		</label>
		<input type="text" name="hd" class="form-control" style="border: 1px solid black;"required><br>
		<label style="margin-top: 10px;color: #333;font-family: Charlesworth;font-size:18px; ">Content
		</label>
		<textarea class="form-control" name="con" style="border: 1px solid black;" required></textarea><br>
		<button type="submit" type="submit" style="padding: 10px;margin-top: 10px; margin-left:160px;background-color: black;color: white;border: none;border-radius: 3px;cursor: pointer;font-family: Charlesworth; width: 200px;">Submit</button>
	</form>
    </div>
    {% if msg == 1 %}
    <script type="text/javascript">
    	alert("Message Sent Successfully")
    </script>
    {% endif %}
</body>
</html>
{% endblock %}